@{
    ViewData["Title"] = "— About POW";
}
<div class = "content-card" style="height: 100vh; background-image: url('/Image/ArtworkGame/FirstSplashBg2.jpg')">
    <div class="center-content-wrapper">
        <h1 class="mt-4">POW is an indie game developer</h1>
        <p>POW love developing game</p>
    </div>
</div>