@{
    ViewData["Title"] = "— Contact";
}
<div class="content-card" style="height: 100vh; background-image: url('/Image/Other/ThapRuaHN.jpg')">
    <h1>POW is in VIET NAM</h1>
    <div class="center-content-wrapper">
        <h1 class="mt-4"> <a href="mailto:powgamestd@gmail.com" class="text-decoration-none text-white">powgamestd@gmail.com</a></h1>
        <p>Thank you for contacting POW</p>
    </div>
</div>